::selection {
    background-color: #D4AF37;
}

.contacts li a .icon {
    fill: currentColor;
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.contacts li .twitter:hover {
    color: #1DA1F2;
}

.contacts li .instagram:hover {
    color: #833AB4;
}

.divider.fat {
    width: 40%;
    margin: auto;
}

.highlighted {
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.personal-life .details input {
    margin-left: 0;
}

.timeline > li p:first-child {
    margin-top: 5px;
}

.small-font {
    font-size: 10px;
}

.small-font::selection {
    font-size: 10px;
    color: #D4AF37;
}