::selection {
    background-color: #d4af37;
}

.background-bigmac {
    background-image: url(./bigmac.png);
}

.background-gold {
    background-image: url(./gold.png);
}

#background .page::before {
    display: none;
}

#background .page {
    padding: 2.5em;
}

.contacts li a .icon {
    fill: currentColor;
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.contacts li .twitter:hover {
    color: #1da1f2;
}

.contacts li .instagram:hover {
    color: #833ab4;
}

.divider.fat {
    width: 40%;
    margin: auto;
}

.highlighted {
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.personal-life .details input {
    margin-left: 0;
}

.timeline > li p:first-child {
    margin-top: 5px;
}

.small-font {
    font-size: 10px;
}

.small-font::selection {
    font-size: 10px;
    color: #d4af37;
}

.languages {
    display: inline;
}

.ru {
    margin-left: 10px;
}

.flag {
    height: 26px;
    position: absolute;
    top: 54px;
    opacity: 0;
    transform: rotate(90deg) translateY(-9px);
}

.russia-flag {
    margin-left: 5px;
    transition: transform 0.3s, opacity 0.15s ease-in-out;
}

.ru:hover .russia-flag {
    transform: rotate(0deg) translate(0px, -14px);
    opacity: 1;
}

.usa-flag {
    transition: transform 0.3s, opacity 0.15s ease-in-out;
}

.us:hover .usa-flag {
    transform: rotate(0deg) translate(0px, -14px);
    opacity: 1;
}

.bg-change {
    text-decoration: underline;
}

.bg-change:hover {
    color: #d4af37;
    cursor: pointer;
}